<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud-Clubes</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
        <div class="col-sm-2">
            <a class="navbar-brand" href="/">CRUD-clubes</a>
        </div>
        <div class="col-sm-3">
            <a href="/club/">
                <button class="btn btn-light border-dark mr-3">Team List</button>
            </a>
            <a href="/club/create">
                <button class="btn btn-light border-dark">Add Team</button>
            </a>
        </div>
    </nav>
    {{{body}}}
    <script type="module" src="/js/helper.js"></script>
</body>
</html>